{% extends 'base.html' %}

{% block content %}

<script src="{{url_for('static', filename='js/home.js')}}"></script>

<h2 style="font-size: 400%;">
    {{text}}!
    <br> 
</h2>
<br>
{% if body %}

<table class=body-table>

    <tr>
        <td id=age-text>
            Age: {{ body.0.0 }} <br>
        </td>
        <td>
            <input id="age-val" name="reps" type="text" placeholder="age">
            <button id="age" type="submit" value="submit" class="btn btn-primary" onclick="updateBody(this.id)">Update</button>
        </td>
    </tr>
    <tr>

        <td id=gender-text>
            Gender:<br>
        </td>
        <td>
            
            <button id="gender-button" type="submit" value="submit" class="btn btn-primary {{ body.0.1 }}" onclick="updateGender(this.innerHTML)">{{ body.0.1|title }}</button>
            <!-- <button id="female" type="submit" value="submit" class="btn btn-primary" onclick="updateBody(this.id)">Female</button> -->
        </td>
    </tr>
    <tr>

        <td id=height-text>
            Height: {{ body.0.2 }} inches<br>
        </td>
        <td>
            <input id="height-val" name="reps" type="text" placeholder="height">
            <button id="height" type="submit" value="submit" class="btn btn-primary" onclick="updateBody(this.id)">Update</button>
        </td>
    </tr>
    <tr>
        <td id=weight-text>
            Weight: {{ body.0.3 }} lbs <br>
        </td>
        <td>
            <input id="weight-val" name="reps" type="text" placeholder="weight">
            <button id="weight" type="submit" value="submit" class="btn btn-primary" onclick="updateBody(this.id)">Update</button>
        </td>
    </tr>
</table>

{% endif %}


<div id='test'>

</div>





















{% if false %}

<table class="trainers">

    <tr>
        <td>
            Age
        </td>
        <td>
            {{ body.0.0 }}
        </td>
    </tr>
    <tr>

        <td>
            Gender
        </td>
        <td>
            {{ body.0.1|title }}
        </td>
    </tr>
    <tr>

        <td>
            Height
        </td>
        <td>
            {{ body.0.2 }} inches
        </td>
    </tr>
    <tr>
        <td>
            Weight
        </td>
        <td>
            {{ body.0.3 }} lbs <br>
        </td>
    </tr>
</table>

{% endif %}

{% endblock %}