{% extends 'base.html' %}

{% block content %}
<script src="{{url_for('static', filename='js/subscription.js')}}"></script>

<h2 class="row justify-content-center align-items-center">Subscription</h2>

<br>

<table id=trainers class="trainers">
  <tr>
    <th>Trainers</th>
    <th class=trainer-subscribe>Subscribe</th>
  </tr>
  {% if trainers %}
    {% for trainer in trainers %}
    <tr>
      <td>
        &nbsp;{{ trainer[0] }}
      </td>
      <td>
        <button id="{{ trainer[0] }}" type="submit" value="submit" class="btn sub-button default" onclick="subscribe(this.id)">Subscribe</button>
        <!-- <input type="checkbox" class="form-control" id='is_trainer' name="is_trainer"></label> -->
      </td>
    </tr>
    {% endfor %}
  {% endif %}

</table>

<table id=subs class="subs">
  <tr>
    <th>Subscribtions</th>
    <th class=trainer-subscribe>Unsubscribe</th>
  </tr>
  {% if subscriptions %}
    {% for trainer in subscriptions %}
    <tr>
      <td>
        &nbsp;{{ trainer|replace(")","")|replace("(","")|replace(",","")|replace("'","") }}
      </td>
      <td>
        <!-- <input type="checkbox" class="form-control" id='is_trainer' name="is_trainer" checked></label> -->
        <button id="{{ trainer|replace(")","")|replace("(","")|replace(",","")|replace("'","") }}" type="submit" value="submit" class="btn unsub-button" onclick="unsubscribe(this.id)">Unsubscribe</button>
      </td>
    </tr>
    {% endfor %}
  {% endif %}
</table>

<div id=view-workouts class="view-workouts">
  <div class="input-group">
    <select name="exercise" id="select-exercise" class="form-control">
    {% if subscriptions %}
        {% for sub in subscriptions %}
        <option id="option-exe">{{ sub|replace(")","")|replace("(","")|replace(",","")|replace("'","") }}</option>
    {% endfor %}
    {% endif %}
    <div class="input-group">
        <input type="text" id="start-date" placeholder="start">
        <input type="text" id="end-date" placeholder="end">
        <span class="input-group-btn">
        <button id="view-progress-btn"type="submit" value="submit" class="btn btn-primary">View Workouts</button>
        </span>
    </div>
    
    <div id=trainer-exe-table>
  
    </div>
</div> 

</div>


{% endblock %}