{% extends 'base.html' %}
{% block content %}
<h1 class="row justify-content-center align-items-center">Add Workout</h1>
<button id="start_workout" class="btn btn-primary">Start Workout</button>
<br>
<br>
<div class="workout-tab">
  <button class="close-button">x</button>
 <div class="workout-tab-content">
  <div class="input-group">
    <select class="form-control">
      {% if exercises %}
        {% for exercise in exercises %}
        <option>{{ exercise|replace(")","")|replace("(","")|replace(",","")|replace("'","") }}</option>
      {% endfor %}
      {% endif %}
    </select>            
    <span class="input-group-btn">
      <button type="submit" value="submit" class="btn btn-primary">Add Workout</button>
    </span>
  </div>
</div> 
</div>


<br>
<br>
<br>
<br>


<h2>Search by Category</h2>
<input list="categories" name="by_cat" id="by_cat">
<datalist id="categories">
  <!-- {% if categories %} -->
  {% for category in categories %}
  <option value='{{ category|replace(")","")|replace("(","")|replace(",","")|replace("'","") }}'>
  {% endfor %}
  <!-- {% endif %} -->
</datalist>
<button class=default name=by_cat id=by_cat>Show Workouts</button>

{% endblock %}